[submodule "ESP8266_NONOS_SDK"]
	path = ESP8266_NONOS_SDK
	url = https://github.com/espressif/ESP8266_NONOS_SDK.git
[submodule "mcu_xlibs"]
	path = mcu_xlibs
	url = https://github.com/tieutuanbao/mcu_xlibs.git
[submodule "tools/esptool"]
	path = tools/esptool
	url = https://github.com/espressif/esptool.git
	branch = release/v3